<div class="setting">
    <div class="row">
        <div class="col col-md-4">
            <div class="portlet light bordered">
                <h4>课程类别</h4>
                <div>
                    <div class="form-group" ng-repeat="courseCate in courseCateList track by $index">
                        <div class="row">
                            <div class="col-md-5">
                                <input class="input-md form-control"  type="text" ng-model="courseCate.CourseCategoryName" ng-blur="updateCourseCate()">
                            </div>
                            <div class="col-md-4">
                                <select class="input-md form-control" ng-options="teacher.FlnkID as teacher.XM for teacher in teacherList"
                                        ng-model="courseCate.HeadTeacher" ng-change="updateCourseCate()"></select>
                            </div>
                            <div class="col-md-3">
                                <a class="glyphicon glyphicon-trash" ng-click="deleteCourseCate(courseCate, $index)"></a>
                                <a class="glyphicon glyphicon-arrow-up" ng-if="$index > 0" ng-click="moveCourseCate(courseCate, $index)"></a>
                            </div>
                        </div>
                    </div>
                    <div class="btn btn-success btn-radius" ng-click="addCourseCate()">添加课程类别</div>
                </div>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="portlet light bordered">
                <h4>会安排模板</h4>
                <div>
                    <div class="form-group" ng-repeat="arrangeTpl in arrangeTplList track by $index">
                        <div class="row">
                            <div class="col-md-9">
                                <input class="input-md form-control" type="text" ng-model="arrangeTpl.SetItemName" ng-blur="updateArrange()">
                            </div>
                            <div class="col-md-3">
                                <a class="glyphicon glyphicon-trash" ng-click="deleteArrange(arrangeTpl, $index)"></a>
                                <a class="glyphicon glyphicon-arrow-up" ng-if="$index > 0" ng-click="moveArrange(arrangeTpl, $index)"></a>
                            </div>
                        </div>
                    </div>
                    <div class="btn btn-success btn-radius" ng-click="addArrangeTpl()">添加会安排模板</div>
                </div>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="portlet light bordered">
                <h4>有反思模板</h4>
                <div>
                    <div class="form-group" ng-repeat="thinkTpl in thinkTplList track by $index">
                        <div class="row">
                            <div class="col-md-9">
                                <input class="input-md form-control" type="text" ng-model="thinkTpl.SetItemName" ng-blur="updateThink()">
                            </div>
                            <div class="col-md-3">
                                <a class="glyphicon glyphicon-trash" ng-click="deleteThink(thinkTpl, $index)"></a>
                                <a class="glyphicon glyphicon-arrow-up" ng-if="$index > 0" ng-click="moveThink(thinkTpl, $index)"></a>
                            </div>
                        </div>
                    </div>
                    <div class="btn btn-success btn-radius" ng-click="addThinkTpl()">添加有反思模板</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <h4>评价级别设置</h4>
                <div class="form-group">
                    <star current="schoolStarValCfg.StarValue" max="10" click-cb="onSetStarVal(data)"></star>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="courseCateSetting">
    <div class="portlet light">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12">
                    <h5>课程类别名称</h5>
                </div>
                <div class="col-md-12">
                    <input type="text" placeholder="请输入课程类别名称" class="input-md form-control" ng-model="tempCourseCateName">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <h5>课程类别负责老师</h5>
                </div>
                <div class="col-md-12">
                    <select class="input-md form-control" ng-options="teacher.FlnkID as teacher.XM for teacher in teacherList"
                            ng-model="tempCourseCateHeadTeacher"></select>
                </div>
            </div>
            <div class="form-actions">
                <div class="btn btn-success" ng-click="doAddCourseCate()">保存</div>
                <div class="btn btn-default" ng-click="cancel()">取消</div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="arrangeTplSetting">
    <div class="portlet light">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12">
                    <h5>会安排模板名称</h5>
                </div>
                <div class="col-md-12">
                    <input type="text" class="input-md form-control" placeholder="请输入会安排模板名称"  ng-model="tempArrangeName">
                </div>
            </div>
            <div class="form-actions">
                <div class="btn btn-success" ng-click="doAddArrange()">保存</div>
                <div class="btn btn-default" ng-click="cancel()">取消</div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="thinkTplSetting">
    <div class="portlet light">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12">
                    <h5>有反思模板名称</h5>
                </div>
                <div class="col-md-12">
                    <input type="text" class="input-md form-control" placeholder="请输入有反思模板名称" ng-model="tempThinkName">
                </div>
            </div>
            <div class="form-actions">
                <div class="btn btn-success" ng-click="doAddThink()">保存</div>
                <div class="btn btn-default" ng-click="cancel()">取消</div>
            </div>
        </div>
    </div>
</script>