<div class="study-center">
    <div class="row">
        <div class="pull-left col-md-3">
            <div class="portlet light bordered">
                <ul>
                    <li ng-repeat="course in courseList track by $index">
                        <div class="course-name" ng-bind="course.CourseName"></div>
                        <ul>
                            <li ng-repeat="group in courseGroups $track by $index">
                                <div class="group-name" ng-bind="group.groupName"></div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="overflow-h col-md-9">
            <div class="row">
                <div class="col-md-4">
                    <div class="portlet light bordered">
                        <p>会安排处理</p>
                        <p>会安排处理</p>
                        <p>会安排处理</p>
                        <p>会安排处理</p>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="portlet light bordered">
                        <p>课程详情</p>
                        <p>课程详情</p>
                        <p>课程详情</p>
                        <p>课程详情</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        有反思详情
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>